.character_info_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding-top: 10px;
}

.character_info_title p {
    text-align: center;
    word-break: keep-all;
}

.character_info_title .name {
    font-size: 18px;
    font-weight: 700;
    font-family: 'gmarket';
}

.character_info_title .movie {
    font-size: 18px;
}

.char_img {
    margin-top: 10px;
}

.character_info_wrap .des {
    font-size: 18px;
    margin-top: 10px;
}

.isInsideRC .name {
    font-size: 16px;
    font-weight: 500;
}

.isInsideRC .movie {
    font-size: 16px;
}