.character_info_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}
.character_info_wrap:not(.isInsideRC):before {
    position: absolute;
    content: '';
    top: 5px;
    left: -0;
    transform: rotate(-45deg);
    width: 120px;
    height: 40px;
    background-image: url('/images/film.png');
    background-size: contain;
}

.character_info_title p {
    text-align: center;
    word-break: keep-all;
}

.character_info_title .name {
    font-size: 18px;
    font-weight: 700;
    font-family: 'gmarket';
}

.character_info_title .movie {
    font-size: 18px;
}

.character_info_wrap .des {
    font-size: 18px;
}

.isInsideRC .name {
    font-size: 18px;
}

.isInsideRC .movie {
    font-size: 16px;
}