.relate_character_wrap {
    display: flex;
    justify-content: center;
    gap: 10px;

    padding-top: 35px;
}

.relate_character {
    width: 50%;
}

.relate_character>p {
    font-size: 22px;
    font-weight: bold;
    font-family: 'gmarket';
}