.des_character .des_list .list_first {
    background-color: #dbeafe;
    padding: 10px;
    border-radius: 5px;
}

.des_character .des_list li:not(:first-child) {
    margin-top: 15px;
}

.des_character .des_list li .bul_title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: solid 1px #fff;
    word-break: keep-all;
}

.des_character .txt_bul1 {
    margin-top: 10px;
    text-align: left;
}

.des_character .txt_bul1 li:not(:first-child) {
    margin-top: 5px;
}

.des_character .txt_bul1 li {
    position: relative;
    padding-left: 10px;
}

.des_character .txt_bul1 li:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    background-color: #0f0f0f;
    left: 0;
    top: 10px;
}

.keyword_title {
    font-size: 22px;
    font-weight: bold;
    font-family: 'gmarket';
}

.keyword_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.keyword_el {
    background: linear-gradient(45deg, #22d3ee, #1f9df5);
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: bold;
}

.other_character .title {
    font-size: 22px;
    font-weight: 700;
    font-family: 'gmarket';
}

.other_character ul li:not(:first-child) {
    margin-top: 5px;
}